*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#square {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
}

.cell-100 {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-color{
    background-color: cyan;
}

.cell-81 {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-49 {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}